:root {
	--dark-blue: #2f3f7b;
	--light-purple: lavender;
}

/* Form */
.modal-title {
	font-weight: 900;
	color: var(--dark-blue);
}
.modal form input {
	border-color: var(--light-purple);
}

textarea {
	max-height: 150px;
}

.input-group-text {
	background-color: transparent;
	border: 1pt solid var(--light-purple);
	color: var(--dark-blue);
}

.gender-rb input[type="radio"] {
	display: none;
}
.gender-rb label {
	border-color: var(--light-purple);
	color: var(--dark-blue);
}

.gender-rb label:hover {
	background-color: var(--dark-blue);
	border-color: var(--dark-blue);
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
	background-color: var(--dark-blue) !important;
	border-color: var(--dark-blue);
}

.modal-header {
	border-bottom-color: var(--light-purple);
}
